.container
  %div{class:"eight columns"}

    %h1 New Article

    = form_for [@wiki,@article] do |f|
      = f.text_field :title
      = f.text_area :body, rows: 20
      = f.submit "Save", class: 'btn'
 
