.container
  %div{class:"eight columns"}

    %h1 New Wiki

    = form_for @wiki do |f|
      = f.text_field :subject
      = f.text_area :description, rows: 20
      = f.submit "Save", class: 'btn'
      %p
